@using Infrastructure.Discord.Settings
@using RealEaseApp.Pages.ViewComponents.Login
@inject Microsoft.Extensions.Options.IOptions<DiscordSettings> _discordSettings
@using RealEaseApp.Extensions
@* @using RealEaseApp.Extensions *@

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#ffffff">
    
    <link rel="shortcut icon" type="image/ico" href="~/images/realease_logo.webp">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css">

    <title>RealEase</title>
</head>
<body>
@await Html.PartialAsync("~/Pages/PartialViews/_LoadingSpinner.cshtml")
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mx-2" href="/">
            <img src="~/images/realease_logo.webp" width="30" height="30" alt="RealEase Logo">
            RealEase
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (User.IsAdmin())
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Websites">Websites</a>
                    </li>
                }
                @if (User.BotAdded())
                {
                    <li class="nav-item ml-lg-4">
                        <a href="@_discordSettings.Value.AddBotUri"
                           class="nav-link">
                            Add me to an additional server! <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item ml-lg-4">
                        <a class="nav-link" href="@_discordSettings.Value.AddBotUri">
                            Add me to your server! <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                }
                <li class="nav-item ml-lg-4">
                    <a href="https://github.com/leherv/RealEase"
                       class="nav-link"
                       target="_blank">
                        Visit on <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div>@await Component.InvokeAsync(typeof(LoginViewComponent))</div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main" class="py-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/spinner.js"></script>
@await Component.InvokeAsync("Toastify")
</body>
</html>