<div id="spinner-overlay-container" class="d-none">
    <div class="overlay d-flex align-items-center justify-content-center">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>