@using RealEaseApp.Extensions
@* @using RealEaseApp.Extensions *@
@{
    var loggedIn = User.IsAuthenticated();
    var username = User.GetName();
}
@if (!loggedIn)
{
    <form method="get" action="@Url.Action("Login", "Auth")">
        <button class="btn btn-primary"
                type="submit">
            Login with Discord
        </button>
    </form>
}

@if (loggedIn)
{
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle"
                type="button"
                id="profileDropdown"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            @username <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="profileDropdown">
            <a href="@Url.Action("Logout", "Auth")"
               class="dropdown-item">
                Log out
            </a>
        </div>
    </div>
}